<html>
    <body>
        <table border = '1'>
            <thead>
            <tr>
                <th style='font-family:"Courier New", Courier, monospace; font-size:50px' colspan="4">Achtung! Achtung! Achtung!</th>
            </tr>
            </thead>
            <tr>
                <th scope="col" style='font-family:"Courier New", Courier, monospace; font-size:20px'>Produkt</th>
                <th scope="col" style='font-family:"Courier New", Courier, monospace; font-size:20px'>Bundesland</th>
                <th scope="col" style='font-family:"Courier New", Courier, monospace; font-size:20px'>Warnung</th>
                <th scope="col" style='font-family:"Courier New", Courier, monospace; font-size:20px'>Manufacturer</th>
            </tr>
            <% warningTextFromAPI.each do |key, value| %>
            <tr>
                <th scope="row" style="background-color: #CEFCF8"><%= key %></th>
                <td><%= value[1] %></td>
                <td><%= value[0] %></td>
                <td><%= value[2] %></td>
            </tr>
            <% end %> 
        </table>
    </body>
</html>
